li{ 
    list-style-type: none ;
}
#minhaFoto{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
#apresentacao{
    text-align: center;
    color: white;
    
}
#apresentacao h1{
    margin-bottom: 0px;
}

.rosa{
    background-color: rgb(255, 179, 236);
}

.azul{
    background-color: rgb(166, 166, 243);
}
.carreira{
    height: 100px;
}
#sobreMim{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#formacao{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#experiencia{
    padding-bottom: 1rem;
}
.card-header{
    background-color: rgb(255, 179, 236);
}