*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', cursive;
    background-color:#FFF9F9;
}
ul{
    list-style-type: none;
}
li{
    margin-top:1rem;
}
.cabecalho{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    background-color: #5acff0;
}

.cabecalho__foto{
    margin:10vh auto;
    height: 30vh;
    border-radius: 50%;
}
.cabecalho__nome{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #ffffff;
    font-size: 3rem;
}
.contato{
    text-align: center;

}
.contato__lista{
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.contato a{
    text-decoration: none;
}

h2{
    font-family: 'Handlee', cursive;
}
.habilidades__lista{

    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.habilidades__item {
    margin: 1rem;
}
.habilidades__item figcaption{
    text-align: center;

}
.habilidades__item img{
    width:75px;
}

.cursos__lista{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item{
    min-width: 240px;
    margin-top: 10px;
    border-style: dotted;
    border-color: #f2a5b9;
    text-align: center;
}
.rodape{
    text-align: center;
    color:#FFF9F9;
    padding-top:10px;
    padding-bottom: 10px;
    margin-top: 3px;
}


.centralizada{
    padding: 15px;
    width:95%;
    margin: 0 auto;
}
.negrito{
    font-weight: bolder;

}

.rosa{
    background-color: #f2a5b9;
}

.azul{
    background-color: #5acff0;
}
.branco{
    background-color:#FFF9F9;
}
