*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Handlee', cursive;
    background-color:#FFF9F9;
}
.cabecalho{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    background-color: #5acff0;
}

.cabecalho__foto{
    margin:10vh auto;
    height: 30vh;
    border-radius: 50%;
}
.cabecalho__nome{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #ffffff;
    font-size: 3rem;
}
.contato{
    text-align: center;

}
.contato__lista{
    margin-top: 1rem;
    margin-bottom: 1rem;
    list-style-type: none;
}
.contato a{
    text-decoration: none;
}
.habilidades{
    padding: 15px;
}
.habilidades__lista{
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.habilidades__item {
    margin: 1rem;
}
.habilidades__item figcaption{
    text-align: center;

}
.habilidades__item img{
    width:75px;
}





.centralizada{
    width:95%;
    margin: 0 auto;
}
.negrito{
    font-weight: bolder;

}

.rosa{
    background-color: #f2a5b9;
}

.azul{
    background-color: #5acff0;
}
.branco{
    background-color:#FFF9F9;
}
